@model IEnumerable<MaridoDeAluguel.Models.Category>

    @{
    ViewBag.Title = "Categorias";
    }

    <h2>Categorias</h2>

    <a href='@Url.Action("Create", "Categories")'>
        <button type="button" class="btn btn-info btn3 btn-lg">
            Adicionar Categoria <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
        <tbody>
            <tr>
                @if (item.ParentCategory == null)
                {
                <td style="text-decoration:solid">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="text-align:right">
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
                if (item.SubCategories != null)
                {
                    foreach (var subItem in item.SubCategories)
                    {
                        <tr>
                            <td style="padding-left:25pt">
                                @Html.DisplayFor(modelItem => subItem.Name)
                            </td>
                            <td style="text-align:right">
                                @Html.ActionLink("Excluir", "Delete", new { id = subItem.Id })
                            </td>
                        </tr>
                    }
                }
            }
            </tr>
        </tbody>
        }

    </table>
