@using Microsoft.AspNet.Identity;
@model MaridoDeAluguel.Models.AdItem

@{
    ViewBag.Title = "Detalhes";
}

<br />

<div class="jumbotron">
    <div class="row">

            @if (Model.Images.Any(a => a.FileType == MaridoDeAluguel.Models.FileType.ProductImage))
            {

                byte[] photo = Model.Images.First(a => a.FileType == MaridoDeAluguel.Models.FileType.ProductImage).Content;
                string imageSrc = null;
                if (photo != null)
                {
                    var base64 = Convert.ToBase64String(photo);
                    imageSrc = string.Format("data:image/jpeg;base64,{0}", base64);
                }
                <div class="col-md-6">
                    <img src="@imageSrc" alt="Imagem de detalhe" class="img-details" />
                </div>
            }
            else
            {
              <div class="col-md-6">
                <img src="~/Content/Images/noproduct.png" alt="Sem imagem de exibição" class="img-details" />
              </div>
            }

        <div class="col-md-6">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
            <h5>@((Model.flagNew)? "Novo" : "Usado")</h5>
            <p>@Html.DisplayFor(model => model.Description)</p>
            <p><b>Preço:</b> R$ @Html.DisplayFor(model => model.Price)</p>
            <h5>Estado: @Html.DisplayFor(model => model.State.Name)</h5>
            <h5>Cidade: @Html.DisplayFor(model => model.City.Name)</h5>
            <h5>Contato: @Html.DisplayFor(model => model.Owner.Telephone)</h5>
            <h5>Anúncio criado em @Model.PostedAt.Value.ToShortDateString()</h5>
            @if (Model.Owner.Id == User.Identity.GetUserId())
            {
                @Html.ActionLink("Apagar Anúncio", "RemoveAdItem", new { id = Model.Id }, new { @class = "btn btn-danger btn-lg", @style = "float:right" })
            }
            else
            {
                @Html.ActionLink("Comprar", "Buy", new { id = Model.Id }, new { @class = "btn btn-primary btn-lg", @style = "float:right" })
            }
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Voltar para anúncios", "Index")
</p>