@using Microsoft.AspNet.Identity;
@using PagedList.Mvc;

@model PagedList.IPagedList<MaridoDeAluguel.Models.AdItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Anúncios</h2>


@using (Html.BeginForm("Index", "AdItem", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-3">
            @Html.TextBox("SearchString", null, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </div>
    <br />
}
<div class="row">
    <ul class="menu-sort-by">
        <li>@Html.ActionLink("Ordenar por Preço", "Index", new { sortOrder = ViewBag.PriceSortParm }, new { @class = "sort-by" })</li>
        <li>@Html.ActionLink("Ordenar por Data", "Index", new { sortOrder = ViewBag.DateSortParm }, new { @class = "sort-by" })</li>
    </ul>
</div>

<div class="row">
    @if (Model.Count() == 0){
        <div class="alert alert-info">
            <p>Nenhum anúncio disponível</p>
        </div>
    }

 
        
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                @if (item.Images.Any(a => a.FileType == MaridoDeAluguel.Models.FileType.ProductImage))
                {

                    byte[] photo = item.Images.First(a => a.FileType == MaridoDeAluguel.Models.FileType.ProductImage).Content;
                    string imageSrc = null;
                    if (photo != null)
                    {
                        var base64 = Convert.ToBase64String(photo);
                        imageSrc = string.Format("data:image/jpeg;base64,{0}", base64);
                    }
                    <div class="container-image">
                        <img src="@imageSrc" alt="Image" />
                    </div>
                    
                }
                else
                {
                    <div class="container-image">
                        <img src="~/Content/Images/noproduct.png" alt="Sem imagem de exibição" />
                    </div>
                    
                }
                <div class="caption">
                    <h3>@item.Title</h3>
                    <p>Preço: R$ @item.Price</p>
                    <p>
                        @Html.ActionLink("Mais Detalhes", "Details", new { id = item.Id })
                        @if (User.Identity.GetUserId() != item.Owner.Id && item.Buyer == null)
                        {
                            @Html.ActionLink("Comprar", "Buy", new { id = item.Id }, new { @class = "btn btn-primary", @style = "float:right" })
                        }
                    </p>
                </div>
            </div>
        </div>
    }
    
    
</div>
<br/>
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
